/* Layout */
.conteudo {
  width: 960px;
  margin: 100px auto;
}

.texto {
  display: inline-block;
  width: 50%;
}

.regiao2 {
  display: inline-block;
}

/* outros */
img {
  width: 430px;
  display: inline-block;
}

.texto h1 {
  font-size: 3.6rem;
  padding: 30px 0;
}

.texto-fonte {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.rodape {
  text-align: center;
}
